.carousel-inner img {
    width: 100%;
    height: 100%;
}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count:3;
        -moz-column-count:3;
        column-count:3;
        
    }
    
}