
 <div class="container-fluid  nm-0 p-0">


<div id="demo" class="carousel slide" data-ride="carousel">

  
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
    </ul>
  
  <div class="carousel-inner">
      <div class="carousel-item active">
       <a href="#"> <img src="../../assets/Images/Movie.jpg" alt="Nature1" width="1100" height="500">
        <div class="centered" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);color: white; font-size:60px;text-align: center;">“It's funny how the colors of the real world only seem really real when you watch them on a screen.”</div>
       </a>
      </div>
      <div class="carousel-item">
        <a href="#"><img src="../../assets/Images/WyLk8M9JNz2ucK3GFDdFEU.jpg" alt="Nature2" width="1100" height="500">
  <div class="centered" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);color: white; font-size:60px;text-align: center;">“Everything I learned I learned from the
    movies.” <br>
    ― Audrey Hepburn</div>
        </a>
      </div>
      
    </div>
    
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>


  
  
  
    


    
  
          <div class="card-columns justify-content-center justify-content-sm-start mx-auto ">
            
            <div *ngFor="let item of list" >
            <div class="card mb-3">
              <h4 style="text-align: center;">{{item.title}}</h4>
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{item.poster_path}}" alt="" style="width:100%">
          <div class="card-body text-center">
            
            <p class="card-text"><b>Overview:</b> {{item.overview}} </p> 
            <p class="card-text" style="text-align: left;"><b>Release Date : </b>{{item.release_date}}</p>   
        </div>  
            </div>
            </div>  
        
    </div>

 </div>